<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diklat Algomarine - Home</title>
    <link rel="stylesheet" href="../static/css/halamanSaya.css">
</head>
<body>
    <div class="cek"></div>
    <main class="main">
        <header><img src="../static/img/LogoAlgosBiasa.png" width="25%" alt="logo"></header>
        <section>
            <form action="/result" method="POST" name="feedbackForm" class="feedbackSection">
                <h1>SELAMAT DATANG PADA HALAMAN UTAMA</h1>
            </form>
        </section>
    </main>
</body>
</html>